<html lang="en">
<head>
  <% include  ../views/head %>
</head>
<body>
    <% include ../views/nav %>
    <div class="ui stackable grid">
      <div class="ui grid">
        <div class="row" id="add-menu">
          <h1>List Your Menu Here</h1>
        </div>
      </div>
      <div class="ui grid">
        <div class="row">
        
        
          <div class="two wide column"></div>
          <div class="twelve wide column">
            <form class="ui form" action="/menu/add" enctype="multipart/form-data" method="post" id="add-menu-form-1">
              <div class="row" id="addmenu-1">
              <div class="three fields">
                <div class="two wide field" style="text-align:center;">
                  <h3 style="padding:15px 40px;">Meal</h3>
                </div>
                <div class="one wide field"></div>
                <div class="thirteen wide field">
                  <div class="ui black basic button" style="border-radius:0px; padding:20px 40px; margin-right:1px;" name="breakfast">Breakfast&Brunch</div>
              

                  <div class="ui black basic button" style="border-radius:0px; padding:20px 40px; margin-right:1px;" name="lunch">Lunch</div>
               
               
                  <div class="ui black basic button" style="border-radius:0px; padding:20px 40px; margin-right:1px;" name="dinner">Dinner</div>
                
                
                  <div class="ui black basic button" style="border-radius:0px; padding:20px 40px; margin-right:1px;" name="party">Party</div>
                </div>
              </div>

              <div class="four fields">
                <div class="two wide field" style="text-align:center;">
                  <h3 style="padding:15px 40px;">Category</h3>
                </div>
                <div class="one wide field"></div>
                <div class="five wide field">
                  <div class="ui fluid search selection dropdown" style="border-radius:0px; width:100%; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important; height:54px;" >
                    <input type="hidden" name="type">
                    <i class="dropdown icon"></i>
                    <div class="default text">Category</div>
                    <div class="menu">
                      <div class="item" data-value="American">American</div>
                      <div class="item" data-value="Chinese">Chinese</div>
                      <div class="item" data-value="Indian">Indian</div>
                      <div class="item" data-value="Thai">Thai</div>
                      <div class="item" data-value="Korean">Korean</div>
                      <div class="item" data-value="Japanese">Japanese</div>
                      <div class="item" data-value="Mexican">Mexican</div>
                    </div>
                  </div>
                </div>
                <div class="eight wide field"></div>
              </div>

              <div class="four fields">
                <div class="two wide field" style="text-align:center;">
                  <h3 style="padding:15px 40px;">Invitation</h3>
                </div>
                <div class="one wide field"></div>
                <div class="five wide field">
                  <div class="ui selection dropdown" style="border-radius:0px; width:100%; height:54px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                    <input type="hidden" name="quantity">
                    <div class="default text" style="margin-right:0px;">Guest</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" data-value="1guest">1 Guest</div>
                      <div class="item" data-value="2guests">2 Guests</div>
                      <div class="item" data-value="3guests">3 Guests</div>
                      <div class="item" data-value="4guests">4 Guests</div>
                      <div class="item" data-value="5guests">5 Guests</div>
                      <div class="item" data-value="6guests">6 Guests</div>
                      <div class="item" data-value="6plusguests">6+ Guests</div>
                    </div>
                  </div>
                </div>
                <div class="eight wide field"></div>
              </div>

              <div class="four fields">
                <div class="two wide field" style="text-align:center;">
                  <h3 style="padding:15px 40px;">University</h3>
                </div>
                <div class="one wide field"></div>
                <div class="five wide field">
                  <div class="ui fluid search selection dropdown" style="border-radius:0px; width:100%; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important; height:54px;">
                    <input type="hidden" name="university">
                    <i class="dropdown icon"></i>
                    <div class="default text">University</div>
                    <div class="menu">
                      <div class="item" data-value="cornell">Cornell University</div>
                      <div class="item" data-value="syracuse">Syracuse University</div>
                      <div class="item" data-value="nyu">New York University</div>
                      <div class="item" data-value="pennstate">Penn State University</div>
                    </div>
                  </div>
                </div>
                <div class="eight wide field"></div>
              </div>

              <div class="field" style="height:54px;"></div>

              <div class="two fields">
                <div class="eleven wide field"></div>
                <div class="five wide field" style="text-align:center;">
                  <div class="ui teal button" style="border-radius:2px; padding:15px 40px;" name="continue" onclick="changeDiv1()">Continue</div>
                </div>
              </div>


              </div>

              <div class="row" id="addmenu-2" style="display:none;">
                <div class="three fields">
                  <div class="two wide field" style="text-align:center;">
                    <h3 style="padding: 15px 40px;">Date</h3>
                  </div>
                  <div class="one wide field"></div>
                  <div class="thirteen wide field">
                    <div class="datePicker">
                      <div class="form-horizontal">
                        <div class="control-group">
                              <div class="controls">
                                  <div class="ui icon input" style="vertical-align:baseline; min-width:100%;">
                                      <input id="date-picker" type="text" class="date-picker form-control" placeholder="Date" name="date"/>
                                      <i class="calendar outline icon"></i>
                                      <label for="date-picker" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                                      </label>
                                  </div>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                            
                </div>

                <div class="four fields">
                  <div class="two wide field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Price</h3>
                  </div>
                  <div class="one wide field"></div>
                  <div class="five wide field">
                    <div class="ui input" style="width:100%; display:inline-block;">
                        <input type="text" name="price">
                    </div>
                  </div>
                  <div class="eight wide field"></div>
                </div>

                <div class="five fields">
                  <div class="two wide field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Address</h3>
                  </div>
                  <div class="one wide field"></div>
                  <div class="five wide field">
                    <input type="text" name="address" placeholder="Address Line 1" style="height:54px; border-radius:0px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                  </div>
                  <div class="five wide field">
                    <input type="text" name="address2" placeholder="Address Line 2" style="height:54px; border-radius:0px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                  </div>
                  <div class="five wide field">
                    <input type="text" name="city" placeholder="City" style="height:54px; border-radius:0px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                  </div>
                  <div class="three wide field"></div>
                </div>

                <div class="four fields">
                  <div class="two wide field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Description</h3>
                  </div>
                  <div class="one wide field"></div>
                  <div class="eight wide field">
                    <input type="text" name="description" placeholder="Input your description for this event here" style="height:122px; border-radius:0px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                  </div>
                  <div class="five wide field"></div>
                </div>

                <div class="two fields">
                  <div class="eleven wide field"></div>
                  <div class="five wide field" style="text-align:center;">
                    <div class="ui teal button" style="border-radius:2px; padding:15px 40px;" name="continue" onclick="changeDiv2()">Continue</div>
                  </div>
                </div>
              </div>

              <div class="row" id="addmenu-3" style="display:none;">
                <div class="field" style="height:54px;"></div>

                <div class="four fields">
                  <div class="four wide field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Title</h3>
                  </div>
                  <div class="one wide field"></div>
                  <div class="five wide field">
                    <input type="text" name="title" placeholder="Title for your event" style="height:54px; border-radius:0px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                  </div>
                  <div class="one wide field"></div>
                </div>

                <div class="field" style="height:54px;"></div>
                <div class="five fields">
                  <div class="four wide field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Add Photo</h3>
                  </div>

                  <div class="one wide field"></div>
                  <div class="four wide field">
                    <div><h3>Add a photo from local!</h3></div>
                  </div>

                  <div class="four wide field">
                    <div><h3>Add photos from your personal gallery!</h3></div>

                    <div class="ui basic modal galleryModal" style="top:25% !important;">
                      <i class="close icon"></i>

                        <div class="header">
                          Gallery
                        </div>
                        <div class="content">
                          <div class="ui grid">
                            <div class="two column row">

                            <% foods.forEach(function(food) {%>
                          <!--<li><%= food.name %></li>
                          <li><%= food.type %></li>
                          <li><%= food.description %></li>
                          <li><%= food.create_time %></li>-->
            

                              <div class="column">
                                <div class="ui checkbox" style="width:100% !important;">
                                  <input type="checkbox" name="fun">
                                  <label>
                                    <div class="ui fluid image">
                                      <img src="<%= food.imgpath %>" alt="img" id="menuImg" style="width:100%; padding:10px !important;">  
                                    </div>
                                  </label>
                                </div> 
                              </div>

                              <% }) %>
                            </div>
                          </div>
                        </div>

                        <div class="actions">
                          <div class="two fluid ui inverted buttons">
                            <div class="ui red basic inverted button">
                              <i class="remove icon"></i>
                              No
                            </div>
                            <div class="ui green basic inverted button">
                              <i class="checkmark icon"></i>
                              Yes
                            </div>
                          </div>
                        </div>

                    </div>



                  </div>

                  <div class="three wide field"></div>
                </div>


                  <div class="five fields">
                    <div class="four wide field" style="text-align:center;"></div>
                    <div class="one wide field"></div>
                    <div class="four wide field">
                      <div class="ui red button" style="border-radius:2px; padding:15px 40px;" name="frompc" onclick="">Add Photos</div>
                    </div>

                  <div class="four wide field">
                    <div class="ui red button" style="border-radius:2px; padding:15px 40px;" name="fromgallery" onclick="showGallery()">Search Gallery</div>
                  </div>

                  <div class="three wide field" style="height:70px;"></div>
                </div>



                <div class="two fields">
                  <div class="eleven wide field"></div>
                  <div class="five wide field" style="text-align:center;">
                    <input type="submit" class="ui teal button" style="border-radius:2px; padding:15px 40px;" name="submit" onclick="">
                  </div>
                </div>

              </div>

            </form>
            <!-- end of form -->
          </div>
          <div class="two wide column"></div>

        </div>
      </div>

    </div>



  <script>
    $(document).ready(function() {
      $('.ui.dropdown').dropdown();
      $('.ui.checkbox').checkbox();    
      $("#date-picker").datepicker();
    }); 

    function showGallery() {
        $('.galleryModal').modal('show');
    }

    function changeDiv1() {
         document.getElementById('addmenu-1').style.display = "none";
         document.getElementById('addmenu-2').style.display = "block";
    }

    function changeDiv2() {
         document.getElementById('addmenu-2').style.display = "none";
         document.getElementById('addmenu-3').style.display = "block";
    }
  </script>
</body>


