extends layout

block content
	.menu-overview
		h4 Menu: #{menu.title}
		h4 Type: #{menu.type}
	input(id='m', placeholder='Please input your message')
	br
	button(id='send', onclick='sendMsg(this)', name=conversation._id, value=user._id) Send
	ul#msglist
		for message in messages
			li #{message.content}
	script.
		var socket = io();
		var conversation_id = document.getElementById("send").name;
		var user_id = document.getElementById("send").value;
		function sendMsg(obj){
			socket.emit('conversation', conversation_id+'_'+user_id+'_'+$('#m').val());
			$('#m').val('');
			return false;
		};
		socket.on('conversation-'+conversation_id, function(msg){
			$('#msglist').append($('<li>').text(msg));
		});