extends layout

block content
    h1 Title: #{menu.title}
    br
    h2 Description: #{menu.detail}
    br
    h2 Type: #{menu.type}
    br
    h2 Quantity: #{menu.quantity}
    br
    h2 Location: #{menu.location}
    br
    h2 Time: #{menu.order_time}
    a(href="/conversation/"+conversation._id)
        button Contact
