<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<h1>Title: <%= menu.title %></h1><br/>
	<h2>Description: <%= menu.detail %></h2><br/>
	<h2>Type: <%= menu.type %></h2><br/>
	<h2>Quantity: <%= menu.quantity %></h2><br/>
	<h2>Location: <%= menu.location %></h2><br/>
	<h2>Time: <%= menu.order_time %></h2>
	<% if(user._id != menu.user_id) {%>
	<form method="post">
	    <input type="submit" name="action" value="Contact" id="contact_button"/>
	    <br/>
	    <% if(typeof request != 'undefined') {%>
	    <p>You said: <%= request.text %></p>
    	<input type="submit" name="action" value="Already Applied" disabled="disabled"/>
		<% } else { %>
	    <input type="text" name="text"/>
	    <input type="submit" name="action" value="Apply"/>
	    <% } %>
  	</form>
  	<% } else {%>
  	<button onclick="location.href='/menu/edit/<%= menu._id %>'">Edit Menu</button>
  	<% } %>
</body>