extends layout

block content
  .container
        |   
        p
          h2 Menus
          button.btn.btn-primary(type='button' onclick="location.href='/addmenu'") Add Menu
        |             
        |   
        table.table
          thead
            tr
              th Title
              |         
              th Location
              |         
              th Type
              
              th Price
          |     
          tbody
            tr.success
              td 
                a(href='asdf') Title 1 aaaaaaaaaaaaaaaaaa
              |         
              td Gates Hall
              |         
              td Chinese
              
              td 8.00$
            |       
            tr.danger
              td 
                a(href='asdf')  Title 2 bbbbbbbbbbbbbbbbbbb
              |         
              td College Town
              |         
              td Pizza
              
              td 4.50$
            |       
            tr.info
              td 
                a(href='asdf') Title 3 cccccccccccccccccccc
              |         
              td Down town
              |         
              td Ice cream
              
              td 2.00$
          for menu in menus
            tr.success
              td 
                a(href='/menu/#{menu._id}') #{menu.title}
              td #{menu.location}
                
              td #{menu.type}
                
              td #{menu.price}
               



