extends layout

block content
	script.
		var socket = io();
		$('form').submit(function(){
			socket.emit('message');
			$('#m').val('');
			return false;
		})
		socket.on('message', function(msg){
			$('#msglist').append($'<li>').text(msg);
		});
	h1 Order Page
	h2 Title: #{menu.title}
	h4 Detail: #{menu.detail}
	h4 Date: #{order.timestamp}
	form(method='post')
		textarea(id='m', rows='3', cols='50', name='message', placeholder='Please input your comment')
		br
		input(type='submit')
	ul#msglist
		for message in messages
			li
				h4 #{message.timestamp}
				p #{message.content}