<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	
	<% if(target_user._id > user._id || target_user._id < user._id){%>
	<% } else {%>	
		<div class="ui grid">        
	        <!-- vertical menu -->
	        <div class="two collumn">
	  			<% include ../views/profile-vertical-menu %>
	  		</div>
	        <!-- main area -->
	        <div class="ten collumn">

		        <div class="profile-detail">
					<h1>Profile Page</h1>
					<div class="user-detail">
						<img src="#" alt="photo" id="head-photo">
						
						<div id="user-detail-display">
							<h2 id="fullname-display">Fullname <%= target_user.fullname %></h2>
							<h4 id="email-display">Email: <%= target_user.email %></h4>
							<h4 id="address-display">Address: <%= target_user.address %></h4>
						</div>
					</div>

					<h4>Customer Rate: <%= target_user.customer_rate %></h4>
					<h4>Owner Rate: <%= target_user.owner_rate %></h4>
					<h4>Bio:</h4>
					<p><%= target_user.bio %></p>
				</div> 
       
	        </div><!-- /.col-xs-12 main -->
	    </div><!-- ui grid -->
	<% } %>
</body>



