<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	
	<% if(target_user._id > user._id || target_user._id < user._id){%>
	<% } else {%>	
		<div class="ui stackable page grid main">        
	        <!-- vertical menu -->
	        <div class="four wide column">
	  			<% include ../views/profile-vertical-menu %>
	  		</div>
	        <!-- main area -->
	        <div class="twelve wide column">
		        <div class="section">
						<h3 class="ui block top attached header">Personal Information</h3>
						<div class="ui bottom attached secondary segment">
							<div class="ui stackable grid">
								<div class="row">
									<div class="eight wide column">
										<img src="/image/sample-portrait.jpg" alt="photo">
									</div>
									<div class="eight wide column">
										<div class="ui grid">
											<div class="row">
												<div class="six wide column">
													<div class="ui massive label ">Name</div>
												</div>
												<div class="ten wide column">
													<div class="ui massive label"><%= user.firstname %> <%= user.lastname %></div>
												</div>
											</div>
											<div class="row">
												<div class="six wide column">
													<div class="ui massive label">Email</div>
												</div>
												<div class="ten wide column">
													<div class="ui massive label"><%= user.email %></div>
												</div>
											</div>
											<div class="row">
												<div class="six wide column">
													<div class="ui massive label">Address</div>
												</div>
												<div class="ten wide column">
													<div class="ui massive label"><%= user.address %></div>
												</div>
											</div>
											<div class="row">
												<div class="six wide column">
													<div class="ui massive label">City</div>
												</div>
												<div class="ten wide column">
													<div class="ui massive label"><%= user.city %></div>
												</div>
											</div>
											<div class="row">
												<div class="six wide column">
													<div class="ui massive label">Gender</div>
												</div>
												<div class="ten wide column">
													<div class="ui massive label"><%= user.gender %></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<h3 class="ui block top attached header">Verification Information</h3>
						<div class="ui bottom attached secondary segment">
							<table class="ui two column large table">
								<tbody>
										<% if(user.edu_verified == "Verified") {%>
										<tr class="positive">
											<td>Edu Email</td>
											<td><i class="icon checkmark"></i>Verified</td>
										</tr>
										<% } else { %>
										<tr class="negative">
											<td>Edu Email</td>
											<td><i class="icon close"></i>Not Verified</td>
										</tr>
										<% } %>
									</tr>
									<% if(!(typeof user.facebook_id == "undefined")) {%>
										<tr class="positive">
											<td>Facebook</td>
											<td><i class="icon checkmark"></i>Verified</td>
										</tr>
										<% } else { %>
										<tr class="negative">
											<td>Facebook</td>
											<td><i class="icon close"></i>Not Verified</td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>


				</div> 
       
	        </div><!-- /.col-xs-12 main -->
	    </div><!-- ui grid -->
	<% } %>
</body>



