<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<div class="ui stackable page grid">
		<!-- veritical menu -->
		<div class="four wide column">
			<% include ../views/profile-vertical-menu %>
		</div>

		<div class="twelve wide column">
			<div class="section">
				<h2>Requests</h2>
				<ul style="padding-left:200px;">
					<% requests.forEach(function(r) {%>
				  	<li>
				    	<form method="post">
				      		<input type="hidden" name="reqid" value="<%= r._id %>"/>
				      		<p>Owner Name: <%= r.owner_id %> </p>
				      		<p>Menu Title: <%= r.menu_id %> </p>
				      		<p>Time: <%= r.timestamp %> </p>
				      		<p>Message: <%= r.text %> </p>
				      		<input type="submit" value="Cancel"/>
				    	</form>
				  	</li>
				  	<% }) %>
				</ul>
			</div>
		</div>
	</div>
</body>